@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap&subset=cyrillic,latin-ext');

html {
    font-family: 'Lora', serif;
    font-size: 100%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5rem;
    background: #fafafa;
    margin: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links {
    display: block;
    margin: 1rem 2.5rem 1rem 2.5rem;
}
.nav-item {
    display: inline-block;
    padding-right: 2rem;
}

h1 {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4rem;
    margin: 0;
}

button:focus {outline:0;}

h3 {
    font-weight: 700;
    font-size: inherit;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

a {
    color: #000;
    border-bottom: 1px solid #cacaca;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid #000;
}

/* Heading */

header {
    margin: 0 2.5rem 3rem 2.5rem;
    display: flex;
    justify-content: flex-start;
}

.heading {
    flex: 1 1 60%;
    padding-right: 2.5rem;
    box-sizing: border-box; /* to include padding in block width*/
}

.description {
    margin: .5rem 0 0 0;
    flex: 1 1 40%;
}

/* Instruments grid */

.grid {
    margin: 0 2.5rem;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.instrument {
    min-width: 12rem;
    max-width: 100%;
    margin-bottom: 3rem;
    flex: 0 0 20%;
}

.illustration {
    height: 224px;
    display: flex;
    position: relative;
}

.icon {
    margin: auto;
    z-index: 1;
}

.shape {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shape-janggo {
    top: 15%;
    left: 15%;
    transform: translate(-15%, -15%);
}
.shape-buk {
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
}
.shape-sogo {
    top: 15%;
    left: 85%;
    transform: translate(-85%, -15%);
}

.button-play {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
}
.button-play:hover svg path, .button-play:hover, .icon-play:hover {
    fill: #000;
}

.name {
    text-align: center;
    margin: 0;
}

.hangeul {
    color: #8C8C8C;
}

footer {
    margin: 4rem 2.5rem 2.5rem 2.5rem;
}

@media (max-width: 1054px) { /* 4 instruments in a row, header in 1 column*/
    .nav-links {
        margin: 1rem 2rem 1rem 2rem;
    }
    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    header {
        display: block;
        margin: 0 2rem 3rem 2rem;
    }
    .heading {
        margin-bottom: 1rem;
        padding: 0;
    }
    .description {
        margin: 0;
        width: 90%;
    }
    .grid {
        margin: 0 2rem;
    }
    .instrument {
        flex: 0 0 25%;
    }
    footer {
        margin: 3rem 2rem 2rem 2rem;
    }
}
@media (max-width: 920px) { /* 3 instruments in a row */
    .instrument {
        flex: 0 0 33%;
    }
}
@media (max-width: 720px) {
    .instrument {
        flex: 0 0 50%;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}
@media (max-width: 462px) { /* 1 instrument in a row */
    .nav-links {
        margin: 1rem 1.5rem 1rem 1.5rem;
    }
    header {
        margin: 0 1.5rem 2rem 1.5rem;
    }
    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .grid {
        margin: 0 1.5rem;
    }
    .description {
        width: 100%;
    }
    footer {
        margin: 2rem 1.5rem 1.5rem 1.5rem;
    }
    .instrument {
        margin-bottom: 2rem;
        flex: 0 0 100%;
    }
}