@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap&subset=cyrillic,latin-ext');

body {
    font-family: 'Lora', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 40px;
    max-width: 100%;
}

h1 {
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;  
}

.hangeul {
    color: #8C8C8C;
}
